.gallery{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 18px;
    padding-bottom: 92px;
    border:solid red 2px;
    overflow: hidden;

}