.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 18px;
  padding-bottom: 92px;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 14px;
  }
}

@media screen and (max-width: 800x) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 16px;
  }
}

@media screen and (max-width: 420px) {
  .gallery {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 12px;
    padding-bottom: 64px;
  }
}