.container_narrow {
  padding: 0 148px;
}

@media screen and (min-width: 800px) and (max-width: 1024px) {
  .container_narrow {
    padding: 0 48px;
  }
}

@media screen and (min-width: 420px) and (max-width: 800px) {
  .container_narrow {
    padding: 0 24px;
  }
}

@media screen and (max-width: 420px) {
  .container_narrow {
    padding: 0 16px;
  }
}
