.footer__author {
  font-family: "Inter", "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  text-align: right;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 420px) {
  .footer__author {
    text-align: left;
  }
}
